<div class="center jumbotron">
  <h1>Operations Inventory</h1>

  <h2>
    This is the home page for the
    <a href="http://www.google.comg/">Operations Inventory</a>
    application.
  </h2>

  <%= link_to "Add new item", newitem_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("mark_blue.gif", alt: "Fermi logo"),
            'http://www.google.com/' %>