<% provide(:title, 'New item') %>
<h1>New Item</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@item) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :user_id, "Who has it?" %>
      <%= f.text_field :user_id, class: 'form-control' %>

      <%= f.submit "Create new item", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>